*
!broot
!cmus
!conky
!cura
!fuzzel
!fuzzel/*
!.gitignore
!helix
!helix/languages.toml
!hypr
!hypr/hyprlock.conf
!hypr/scripts
!hypr/scripts/**
!i3
!kitty
!nvim
!rofi
!mako
!mako/config
!sway
!swaylock
!waybar
!waybar/scripts/**
!waybar/scripts
!wofi
!.zshrc
!fish
!fish/conf.d
!fish/conf.d/*
!fish/fish_plugins
!fish/config.fish
